{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
  
  }
  body{
    background-color: black;
  }
  


  footer{
    
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    font-family: century Gothic;
  }
  
  .title{
    color: #fff;
  }
  .title h1{
    font-size: 32px;
    line-height: 10px;
    padding-top: 30px;
  }
  
  form{
    margin-top: 50px;
  }
  .form-control{
    width: 600px;
    background:transparent;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
  }
  input{
    height: 45px;
  }
  
  form .submit{
    background-color: #ff5722;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    transition: 0.4s ease;
  }
  form .submit:hover{
    background-color: black;
    cursor: pointer;
  }