

body{
  background-color: black;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.navbar ul{
  margin: auto;
  background-color: black;
}

header{
  position: relative;
  display: flex;
  justify-content:flex-end ;
  text-align: center;
  background-color: black;
  padding: 22px;
}

.active {
  border: 1px solid;
  padding: 10px 0;
  color: white;
}

.logo {
  position: absolute;
  left: 0;
  top: -11px;
}
.nav_links{
  list-style: none;
}
.nav_links li {
  display: inline-block;
  /* padding: 0px 20px;
  border: 5px solid red; */
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  padding: 30px;
  text-decoration: none;
  color: #B8923D;
  font-weight: 400;
  font-size: 1.2em;
}

.topnav .icon {
  display: none;
}

.topnav .icon:hover {
  background-color: #fff;
  padding-top: 32px;
}



.buttonLogin{
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc; 
    margin-top: 25px;
    transition: 0.4s;

}

.buttonLogin:hover {
    background: #34495e;
    color: #fff;
}

.buttonRegister{
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc; 
    margin-top: 25px;
    transition: 0.4s;
}

.help-block{
  color: wheat;
  display: block;
  padding-bottom: 15px;
}

.buttonRegister:hover {
    background: #34495e;
    color: #fff;
}

.closeIcon{
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;

}

.banner{
  position: relative;
  min-height: 100vh;
  background-image: url(../images/img.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.banner h2{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h3{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  padding-left: 10px;
}
.btn  {
  padding-left: 85px;
}
.btn li {
  text-decoration: none;
  display: inline-block;
  position: relative;
  background: azure;
  border-radius: 3px;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;

}
.btn li a {
  text-decoration: none;
  color: black;
}

.three {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container{
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
 /* background: #4c4c4c;
  border: solid 10px #2c2c2c; */
}

.slide_img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide_img img {
  width: 100%;
  height: 100%;
}

#i1, #i2, #i3{
  display: none;
}

.pre, .nxt {
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgb(88, 88,88, .2);
  z-index: 99;
  cursor: pointer;
}


.pre {
  left: 0;
}

.nxt {
  right: 0;
}


.navv{
  width: 100%;
  height: 11px;
  bottom: 10%;
  position: absolute;
  text-align: center;
  z-index: 99;
}


.dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background:  rgba(0,0, 0, .6);
}


.slide_img{
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #thre{

  z-index: 9;    
}

#i1:checked ~ .navv #dot1,
#i2:checked ~ .navv #dot2,
#i3:checked ~ .navv #dot3{
   background: #fff;

}


.kontakt p{
  font-size: 18px;
      margin: 30px 0 50px;
  
  }
  .p1 {
      margin-left: 380px;
      padding: 100px;
      color: black;

  }
  input[type=submit] {
    background-color: #ADD9EC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
  }
  input[type=submit]:hover {
    background-color: wheat;
  
  }
  .Left-Side{
      margin: 10px;
      text-align: center;
      
  }

  .Right-Side {
      text-align: center;
      padding-left: 50px;
  }
  
.textC p{
  text-align: center;
  font-size: 20px;
  color: wheat;
}

.second{
  height: 500px;
}

.second p {
  text-align: left;
  padding-top: 40px;
  font-size: 1em;
  color: wheat;
}

.second .ourStaf{
  text-align: center;
}

.second h2 {
  color: wheat;

}
.must ul {
  list-style: none;
  display: inline-flex;
  text-align: center;
  border-radius: 10px;
}
.must ul li a {
  margin: 10px;
  border: 2px solid black;
  color: black;
  background-color: papayawhip;
  font-size: 20px;
}


.testimonials {
  margin: 200px auto 100px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
  grid-gap: 20px;
  margin: 0;
}


.testimonials .card {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background-attachment: #333;
  
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(250, 250, 250, 0.5) ;
  overflow: hidden;
}

.testimonials .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(216, 207, 207),rgb(34, 33, 33));
  z-index: 1;
  transition: 0.5s;
  
}
.testimonials .card .layer {
  top: 0;
}

.testimonials .card .content {
  position: relative;
  z-index: 2;
}

.testimonials .card .content p {
  font-size: 18px;
  line-height: 24px;
  color: black;
  
  text-align: initial;
}

.testimonials .card .content .image {
  width: 150px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff ;
  
  display: flex;

}

.details h2{
  text-align: center;
  
  margin: 10px;
}




footer{
  background-image: url(../images/foter.jpg);
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: cover;
  font-family: century Gothic;
}

.title{
  color: #fff;
}
.title h1{
  font-size: 32px;
  line-height: 10px;
  padding-top: 30px;
}

/*form{
  margin-top: 50px;
}*/
.form-control{
  width: 600px;
  background:transparent;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}
input{
  height: 45px;
}

form .submit{
  background-color: #ff5722;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition: 0.4s ease;
}
form .submit:hover{
  background-color: black;
  cursor: pointer;
}

ul.lastLi{
  float: right;
  margin: 0;
  padding: 0;
}

ul.nav_links li.menuLi{
  padding-top: 18px;
}


li .user:focus-visible + .logout{
  display: block;
  position: absolute;
  top: 70%;
  padding: 1em;
}

header ul ul ul {
  position: absolute;
    right: 0px;
    width: 220px;
    z-index: 99;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    margin-top: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    border-radius: 0px 0px 0px 4px;
    padding: 22px 0;
}

header ul.lastLi .accountInfo:hover ul {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  margin-top: 0px;
}

.contact-form{
  margin-top: 2%;
}